@{
    ViewBag.Title = "О нас";
}

<h2>@ViewBag.Title</h2>

<p class="lead">SeaRune - компания основанная 23.02.2022 небезызвестным соискателем работы в компанию Elma</p>
<p>Этот проект создан усилиями Леонида Игоревича</p>

<h3>@ViewBag.Message</h3>

@*<p class="panel-heading">Для доступа к информации по тестированиям вы должны быть частью проекта WorkPractice</p>*@