@using Microsoft.VisualStudio.Services.WebApi;
@{
    ViewBag.Title = "Home Page";
    string info = Session["info"] == null ? " " : (string)Session["info"];
}

<div class="jumbotron">
    <h1 align="center">Кадровое агентство</h1>
    <p align="right" class="lead"> by SeaRune </p>
    @*<p class="lead">@info</p>*@

    @if (Session["connect"] is VssConnection && ((VssConnection)Session["connect"]).HasAuthenticated)
    {
        var teamPC = (VssConnection)Session["connect"];
        <p class="active"> Вы авторизовались! </p>
    }
    else
    {
<div class="wrap-login" align="center">
    <form class="login-form validate-form">
        <span class="login-form-title">
            Вход
        </span>

        <div class="wrap-input100 validate-input" data-validate="Введите логин">
            <input class="input100" type="text" name="username" placeholder="Логин">
            <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Введите пароль">
            <input class="input100" type="password" name="pass" placeholder="Пароль">
            <span class="focus-input100"></span>
        </div>

        <div class="text-center">
            <span class="txt1">
                Забыли пароль?
            </span>

            <a href="#" class="txt2">
                Восстановить
            </a>
        </div>

        <div class="container-login-form-btn">
            <p align="center"><a href=@Url.Action("Authorize", "Oauth") class="btn btn-primary btn-large">Вход</a></p>
        </div>

        <div class="flex-col-c">
            <span class="txt1">
                Нет аккаунта?
            </span>

            <a href= @Url.Action("Registration", "Home") class="txt3">
                Зарегистрируйтесь
            </a>
        </div>
    </form>
</div>
    }

</div>
