@using TestApp2.Models
@{
    ViewBag.Title = "Регистрация";
}
@model User

<head>
    <style>


        /* Add padding to containers */
        .containerForm {
            padding: 16px;
            background-color: white;
        }

        /* Full-width input fields */
        input[type=text], input[type=password] {
            width: 100%;
            padding: 15px;
            margin: 5px 0 22px 0;
            display: inline-block;
            border: none;
            background: #f1f1f1;
        }

            input[type=text]:focus, input[type=password]:focus {
                background-color: #ddd;
                outline: none;
            }

        /* Overwrite default styles of hr */
        hr {
            border: 1px solid #f1f1f1;
            margin-bottom: 25px;
        }

        /* Set a style for the submit button */
        .registerbtn {
            color: #fff;
            background-color: #337ab7;
            border-color: #2e6da4;
            padding: 16px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
            opacity: 0.9;
            border-radius: 4px;
        }

            .registerbtn:hover {
                opacity: 1;
            }

        /* Add a blue text color to links */
        a {
            color: dodgerblue;
        }

        /* Set a grey background color and center the text of the "sign in" section */
        .signin {
            background-color: #f1f1f1;
            text-align: center;
            border-radius: 4px;
        }
    </style>
</head>

<form action="#">
    <div class="container">
        <h1>Регистрация</h1>
        <p>Пожалуйста заполните эту форму, чтобы создать аккаунт.</p>
        <hr>

        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Введите Email" name="email" required>

        <label for="psw"><b>Пароль</b></label>
        <input type="password" placeholder="Введите пароль" name="psw" required>

        <label for="psw-repeat"><b>Повторите пароль</b></label>
        <input type="password" placeholder="Повторите пароль" name="psw-repeat" required>

    </div>

    <div>
        <label>Рекрутер</label>
        @Html.RadioButton("Role", "Рекрутер", true)
        <label>Соискатель</label>
        @Html.RadioButton("Role", "Соискатель")
    </div>

    

    <div>
        <hr>
        <p>Создавая аккаунт вы соглашаетеь с нашей <a href="#">Политикой конфиденциальности</a>.</p>

        <button type="submit" class="registerbtn" formaction="~/JobSeeker/Main">Зарегистрироваться</button>
    </div>

    <div class="containerForm signin">
        <p>Уже есть аккаунт? <a href="/Home/Index">Войдите</a>.</p>
    </div>
</form>
