@using TestApp2.Models
@{
    ViewBag.Title = "Регистрация";
}
@model RegistrationViewModel

<head>
    <style>


        /* Add padding to containers */
        .containerForm {
            padding: 16px;
            background-color: white;
        }

        /* Full-width input fields */
        input[type=text], input[type=password] {
            width: 100%;
            padding: 15px;
            margin: 5px 0 22px 0;
            display: inline-block;
            border: none;
            background: #f1f1f1;
        }

            input[type=text]:focus, input[type=password]:focus {
                background-color: #ddd;
                outline: none;
            }

        /* Overwrite default styles of hr */
        hr {
            border: 1px solid #f1f1f1;
            margin-bottom: 25px;
        }

        /* Set a style for the submit button */
        .registerbtn {
            color: #fff;
            background-color: #337ab7;
            border-color: #2e6da4;
            padding: 16px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
            opacity: 0.9;
            border-radius: 4px;
        }

            .registerbtn:hover {
                opacity: 1;
            }

        /* Add a blue text color to links */
        a {
            color: dodgerblue;
        }

        /* Set a grey background color and center the text of the "sign in" section */
        .signin {
            background-color: #f1f1f1;
            text-align: center;
            border-radius: 4px;
        }
    </style>
</head>

@using (Html.BeginForm("Register", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <form>
        <div class="container">
            <h1>Регистрация</h1>
            <p>Пожалуйста заполните эту форму, чтобы создать аккаунт.</p>
            <hr>

            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Введите Email" name="Email" required>

            <label for="psw"><b>Пароль</b></label>
            <input type="password" placeholder="Введите пароль" name="Password" required>

            <label for="psw-repeat"><b>Повторите пароль</b></label>
            <input type="password" placeholder="Повторите пароль" name="passwordConfirm" required>

        </div>

        <div>
            <label>Соискатель</label>
            @Html.RadioButtonFor(m => m.Role, "Jobseeker")
            <label>Рекрутер</label>
            @Html.RadioButtonFor(m => m.Role, "HR")
            <label>Работодатель</label>
            @Html.RadioButtonFor(m => m.Role, "Employer")
        </div>

        <div>
            <hr>
            <p>Создавая аккаунт вы соглашаетеь с нашей <a href="#">Политикой конфиденциальности</a>.</p>

            <button type="submit" class="registerbtn" formaction="/Home/Register">Зарегистрироваться</button>
        </div>

        <div class="containerForm signin">
            <p>Уже есть аккаунт? <a href="/Home/Login">Войдите</a>.</p>
        </div>
    </form>
}
