@{ ViewBag.Title = "Главное меню"; }
<h2>Главное меню</h2>
@Html.ValidationSummary()

<div>
    @Html.ActionLink("Просмотр анкет", "ShowCandidates", "Common")
</div>
<div>
    @Html.ActionLink("Просмотр вакансий", "ShowVacancies", "Common")
</div>
<div>
    @Html.ActionLink("Просмотр пользователей", "ShowUsers", "Admin")
</div>
