@{ ViewBag.Title = "Главное меню"; }
<h2>Главное меню</h2>
@Html.ValidationSummary()

<div>
    @Html.ActionLink("Редактирование анкеты", "EditProfile", "JobSeeker")
</div>
<div>
    @Html.ActionLink("Поиск подходящих вакансий", "FindVacancy", "JobSeeker")
</div>
<div>
    @Html.ActionLink("Просмотр всех вакансий", "ShowVacancies", "Common")
</div>
