@{
    ViewBag.Title = "Главное меню";
}

<h2>Главное меню</h2>
@Html.ValidationSummary()

<div>
    @Html.ActionLink("Создать вакансию", "CreateVacancy", "Employer")
</div>
<div>
    @Html.ActionLink("Просмотр моих вакансий", "ShowVacancies", "Common")
</div>
